---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { SITE } from 'astrowind:config';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Pagination from '~/components/blog/Pagination.astro';

import { blogListRobots, getStaticPathsBlogList } from '~/utils/blog';
import Hero from '../../components/widgets/Hero.astro';
import Image from '../../components/common/Image.astro';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogList({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props as Props;
const currentPage = page.currentPage ?? 1;

const metadata = {
  title: `Angular Tips & Tricks${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  robots: {
    index: blogListRobots?.index && currentPage === 1,
    follow: blogListRobots?.follow,
  },
  openGraph: {
    type: 'blog',
  },
  hasCover: true
};
---

<Layout metadata={metadata}>
  <Hero>
    <Fragment slot="title">
      <span class="text-white" set:html={SITE.home.title}></span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="text-white" set:html={SITE.home.subtitle}></span>
    </Fragment>
    
    <Fragment slot="bg">
      <Image class="absolute top-0 h-screen w-auto" src={SITE.home.cover} alt={SITE.name} />
    </Fragment>
  </Hero>
  <section id="start" class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
