---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';
// import PostTags from "~/components/blog/Tags.astro";

import { blogListRobots, getStaticPathsBlogList } from '~/utils/blog';
import Hero from '../../components/widgets/Hero.astro';
import Image from '../../components/common/Image.astro';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogList({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props as Props;
const currentPage = page.currentPage ?? 1;

// const allCategories = await findCategories();
// const allTags = await findTags();

const metadata = {
  title: `Blog${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  robots: {
    index: blogListRobots?.index && currentPage === 1,
    follow: blogListRobots?.follow,
  },
  openGraph: {
    type: 'blog',
  },
  isHome: true
};
---

<Layout metadata={metadata}>
  <Hero>
    <Fragment slot="title">
      <span class="text-white">
        Hi, I'm Daniele. <br/>
        Angular Developer and Traveler</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="text-white">
        Here I share some Angular tips & tricks that I discover while working remotely around the world
      </span>
    </Fragment>

    <Fragment slot="bg">
      <Image class="absolute top-0 h-screen w-auto" src="~/assets/images/cover.jpg" alt="Daniele Ghidoli" />
    </Fragment>
  </Hero>
  <section id="start" class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    <!--
      <PostTags tags={allCategories} class="mb-2" title="Search by Categories:" isCategory />
      <PostTags tags={allTags}  title="Search by Tags:" />
    -->
  </section>
</Layout>
